<html>  
    <head>
        <meta charset="UTF-8"/>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 

        <title> OBR-TO - Adicionando Notícias </title>
        {% load staticfiles %}
        <script src="{% static "js/jquery.js" %}"></script>
        <!--<link rel="stylesheet" href="{% static "css/bootstrap.css" %}"/>-->
        <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}"/>
        <link rel="stylesheet" href="{% static "css/styles.css" %}"/>
		<link rel="stylesheet" href="{% static "materialize/css/materialize.min.css" %}"/>
        <meta content="width=divice-width, inital-scale=1, maximum-scale=1, user-scalable=no" name="view"/> 
    </head>

    <body>
        Olá, estamos trabalhando para melhor lhe atender, em breve, aguarde...
    </body>
</html>